<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANTHROPIC_API_KEY</key>
	<string>YOUR_ANTHROPIC_KEY</string>
	<key>USE_REMOTE_COACH</key>
	<string>true</string>
	<key>COACH_FUNCTIONS_BASE_URL</key>
	<string>https://us-central1-useprocess-d4385.cloudfunctions.net</string>
</dict>
</plist>
